.main-container{
    
    @include media_for_xs($screen-extra-small){
        margin-top: 1rem;
        }
    
        @include media_for_sm($font_size_sm){
            margin-top: 1rem;
        }
    
      @include media_for_md($screen-medium){
        margin-top: 1rem;
      }
    
}